<router-outlet></router-outlet>
<app-componente-1></app-componente-1>
<app-componente-2></app-componente-2>
<img
  ngSrc="https://fastly.picsum.photos/id/764/700/400.jpg?hmac=GNDoU-q2GCnxTGcnvDdNXrcRnq34KMc6MMVHoqaFpF0"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/1016/700/400.jpg?hmac=2DNHxQHK_fbNi1Khid83cEApQL16sdZsomzU0GgY5g4"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/131/700/400.jpg?hmac=fp-yOwZVU6nCTcIZ7iW_ASMx5gcaYQCV5sFecUwFO6E"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/935/700/400.jpg?hmac=4gFVAdoWotpyLcWrqpkvR617QQ7u2xIfIGy655IOhGI"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/543/700/400.jpg?hmac=CnHc7UcXQFA_fjjStQmC5tL7qGCxCmAGHoI1Nby9ZxA"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/1057/700/400.jpg?hmac=FP20LXyZaGPiZBD9NuxEeke79e80P6pPJs01je3OqIQ"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/694/700/400.jpg?hmac=qFOh-piCPPIxj1oKHW0R2z5cCTqWfo6yVJo8zsCJmGw"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/19/700/400.jpg?hmac=--hDI_Zn_wAt48SPxzdvHh1AxQmYakmxSfRwju6km8U"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/692/700/400.jpg?hmac=TcQADqyuV0hpPMiyDQAbuhIUg6Y42AqTI1eZMQmsNi0"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/543/700/400.jpg?hmac=CnHc7UcXQFA_fjjStQmC5tL7qGCxCmAGHoI1Nby9ZxA"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/764/700/400.jpg?hmac=GNDoU-q2GCnxTGcnvDdNXrcRnq34KMc6MMVHoqaFpF0"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/1016/700/400.jpg?hmac=2DNHxQHK_fbNi1Khid83cEApQL16sdZsomzU0GgY5g4"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/131/700/400.jpg?hmac=fp-yOwZVU6nCTcIZ7iW_ASMx5gcaYQCV5sFecUwFO6E"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/935/700/400.jpg?hmac=4gFVAdoWotpyLcWrqpkvR617QQ7u2xIfIGy655IOhGI"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/543/700/400.jpg?hmac=CnHc7UcXQFA_fjjStQmC5tL7qGCxCmAGHoI1Nby9ZxA"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/1057/700/400.jpg?hmac=FP20LXyZaGPiZBD9NuxEeke79e80P6pPJs01je3OqIQ"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/694/700/400.jpg?hmac=qFOh-piCPPIxj1oKHW0R2z5cCTqWfo6yVJo8zsCJmGw"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/19/700/400.jpg?hmac=--hDI_Zn_wAt48SPxzdvHh1AxQmYakmxSfRwju6km8U"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/692/700/400.jpg?hmac=TcQADqyuV0hpPMiyDQAbuhIUg6Y42AqTI1eZMQmsNi0"
  width="900"
  height="500"
/>
<img
  ngSrc="https://fastly.picsum.photos/id/543/700/400.jpg?hmac=CnHc7UcXQFA_fjjStQmC5tL7qGCxCmAGHoI1Nby9ZxA"
  width="900"
  height="500"
/>
